<xf:macro name="post" arg-post="!">
<xf:set var="$thread" value="{$post.Thread}" />
<xf:set var="$userBanned" value="{{ $post.User && $post.User.is_banned }}" />
<xf:if is="$thread.hasOption('svHasReplyBanned') && $thread.getOption('svHasReplyBanned') && ($userBanned || $thread.isUserReplyBanned($post.user_id))">
	<div class="messageNotice messageNotice--reply-banned">
		<xf:if is="$userBanned">
			{{ phrase('svThreadReplyBanTeeth_is_banned') }}
		<xf:else />
			{{ phrase('svThreadReplyBanTeeth_is_reply_banned') }}
		</xf:if>
	</div>
</xf:if>
</xf:macro>

<xf:macro name="account_wrapper" arg-pageSelected="!">
	<a class="blockLink {{ ($pageSelected === 'thread_bans') ? 'is-selected' : '' }}" href="{{ link('account/thread-bans') }}">
		{{ phrase('svThreadReplyBanTeeth_banned_from_threads') }}
	</a>
</xf:macro>

<xf:macro name="member_tab" arg-user="!">
	<xf:if is="$user.canViewThreadBans() && $user.thread_bans_count">
		<a href="{{ link('members/thread-bans', $user) }}"
		   class="tabs-tab"
		   id="threadBans"
		   role="tab">{{ phrase('svThreadReplyBanTeeth_thread_reply_bans_count', {'count': {$user.thread_bans_count}}) }}</a>
	</xf:if>
</xf:macro>

<xf:macro name="member_pane" arg-user="!">
	<xf:if is="$user.canViewThreadBans() && $user.thread_bans_count">
		<li data-href="{{ link('members/thread-bans', $user) }}" role="tabpanel" aria-labelledby="threadBans">
			<div class="blockMessage">{{ phrase('loading...') }}</div>
		</li>
	</xf:if>
</xf:macro>