<xf:macro name="post" arg-post="!">
<xf:set var="$thread" value="{$post.Thread}" />
<xf:set var="$userBanned" value="{{ $post.User && $post.User.is_banned }}" />
<xf:if is="$thread.hasOption('svHasReplyBanned') && $thread.getOption('svHasReplyBanned') && ($userBanned || $thread.isUserReplyBanned($post.user_id))">
	<div class="messageNotice messageNotice--reply-banned">
		<xf:if is="$userBanned">
			{{ phrase('svThreadReplyBanTeeth_is_banned') }}
		<xf:else />
			{{ phrase('svThreadReplyBanTeeth_is_reply_banned') }}
		</xf:if>
	</div>
</xf:if>
</xf:macro>

<xf:macro name="account_wrapper" globals="1">
	<a class="blockLink {{ ($pageSelected == 'thread_bans') ? 'is-selected' : '' }}" href="{{ link('account/thread-bans') }}">
		{{ phrase('svThreadReplyBanTeeth_banned_from_threads') }}
	</a>
</xf:macro>