<xf:title page="{$page}">{{ phrase('svThreadReplyBanTeeth_banned_from_threads') }}</xf:title>

<xf:wrap template="account_wrapper" />

<xf:if is="$replyBans is not empty">
	<div class="block-outer">
		<xf:pagenav params="{$filters}"
					page="{$page}" perpage="{$perPage}" total="{$total}"
					link="account/thread-bans" data="{$user}"
					wrapperclass="block-outer-main" />
	</div>
	<div class="block-container">
		<xf:css src="structured_list.less" />
		<div class="block-body">
			<div class="structItemContainer">
				<xf:foreach loop="$replyBans" value="$replyBan">
					<xf:set var="$extra">
						<dl class="pairs pairs--inline" style="display:block">
							<dt>{{ phrase('svThreadReplyBanTeeth_ban_date') }}</dt>
							<dd><xf:date time="$replyBan.ban_date" /></dd>
						</dl>
						<xf:if is="$replyBan.expiry_date">
							<dl class="pairs pairs--inline" style="display:block">
								<dt>{{ phrase('expiry') }}</dt>
								<dd><xf:date time="$replyBan.expiry_date" /></dd>
							</dl>
						<xf:else />
							<dl class="pairs pairs--inline pairs--noColon" style="display:block">
								<dt></dt>
								<dd>{{ phrase('expires_never') }}</dd>
							</dl>
						</xf:if>
					</xf:set>
					<xf:macro name="thread_list_macros::item"
							  arg-thread="{$replyBan.Thread}"
							  arg-chooseName="thread_ids"
							  arg-showWatched="{{ false }}"
							  arg-extraInfo="{$extra}"
							  arg-allowEdit="{{ false }}" 
							  arg-forceShowForum="{{ true }}"
							  />
				</xf:foreach>
			</div>
		</div>
	</div>
	<xf:pagenav params="{$filters}"
				page="{$page}" perpage="{$perPage}" total="{$total}"
				link="account/thread-bans" data="{$user}"
				wrapperclass="block-outer block-outer--after" />
<xf:else />	
	<div class="blockMessage">
		<p>{{ phrase('svThreadReplyBanTeeth_you_are_not_bannned_from_any_threads') }}</p>
	</div>
</xf:if>